name: Build and Release
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Build
        run: GOOS=linux GOARCH=amd64 go build -o rd450x-fan-control main.go
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fan-control-binary
          path: rd450x-fan-control
